#canvas {
  background: linear-gradient(90deg, #55680D, #71F53E, #116C31);
  background: black;
  color: white;

}

#usable-rect {
  width : 80%;
  background-color : gold;
  margin-left : auto;
  margin-right : auto;
  padding : 30px;
  max-width: 800px;
  box-shadow: 0 0 20px 0 #3B7E20CC;
 
}

#title {
  color: grey;
  font-family : sans-serif;
  text-align: center;
}

#description {
  color: grey;
  font-family: Courier;
  text-align: center;
}

#survey-form {
  margin: 5px;
}

label {
  display: block;
  margin: 0 0
}

input, select {
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
  font-size: 2rem;
  background: goldenrod;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.inputlabel {
font-size: 1.5em;
font-family: Verdana;
color: #888888;
margin-top: 0.5rem;
}

fieldset {
  border: 1px solid goldenrod;
  margin-top: 0;
  margin-bottom: 0;
}


legend {
  color: goldenrod;
  margin: 0;
  padding: 0;
}


